<footer id="colophon" class="site-footer" role="contentinfo">

  <div class="container" style="text-align: center; margin-bottom: 0;">
    <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
    <a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>
    <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a>
    <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}"><span class="octicon octicon-link-external"></span></a>&nbsp;
    © <script>document.write(new Date().getFullYear());</script>&nbsp;
    <a href="http://fasminelee.com/"><span class="word-keep">fasminelee</span></a>
</div><!-- .site-info -->
</footer><!-- #colophon -->

<meta itemprop="url" content="http://fasminelee.com/">
<meta itemprop="email" content="i@fasminelee.com">