<footer id="colophon" class="site-footer" role="contentinfo">     
  <div class="site-info" style="text-align: center; margin-bottom: 0;">
    copyright © 1996-<script>document.write(new Date().getFullYear());</script> 
    <a href="http://fasminelee.com">fasminelee.com</a>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">知识共享署名-相同方式共享 3.0 美国许可协议</a>进行许可。

  </div><!-- .site-info -->
</footer><!-- #colophon -->
<meta itemprop="url" content="http://fasminelee.com/">
<meta itemprop="email" content="i@fasminelee.com">