<footer id="colophon" class="site-footer" role="contentinfo">     
  <div class="site-info" style="text-align: center; margin-bottom: 0;">
    © 1996-<script>document.write(new Date().getFullYear());</script> 
    fasminelee
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">知识共享署名-相同方式共享 3.0 美国许可协议</a>进行许可。

  </div><!-- .site-info -->

  <div class="container">
    <a class="foot-item" href="mailto:{{ site.email }}" target="_blank">
      <span class="octicon octicon-mail"></span>
    </a>
    <a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank">
      <span class="octicon octicon-mark-github"></span>
    </a>
    <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
      <span class="octicon octicon-rss"></span>
    </a>
    <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}">
      <span class="octicon octicon-link-external"></span>
    </a> 
    &nbsp;
    <a href="http://blog.yunnuy.com/"><span class="word-keep">&copy; fasminelee</span></a>
</div>
</footer><!-- #colophon -->

<meta itemprop="url" content="http://fasminelee.com/">
<meta itemprop="email" content="i@fasminelee.com">